.newspaper-layout{
    display: grid;
    grid-template-areas:
    'title title title'
    'feature-article feature-article cover-image'
    'secondary-article secondary-article cover-image'
    'small-article1 small-article2 small-article3';
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
}

.title{
    grid-area: title;
    background-color: rgb(53, 53, 156);
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.feature-article{
    grid-area: feature-article;
    background-color: rgb(245, 239, 239);
    padding: 20px;
}

.secondary-article{
    grid-area: secondary-article;
    background-color: rgb(245, 239, 239);
    padding: 20px;
}

.cover-image{
    grid-area: cover-image;
    background-color: rgb(245, 239, 239);
}

.cover-image > img{
    max-width: 100%;
    border-radius: 5px;
}

.small-article1{
    grid-area: small-article1;
    background-color: rgb(245, 239, 239);
    padding: 20px;
}

.small-article2{
    grid-area: small-article2;
    background-color: rgb(245, 239, 239);
    padding: 20px;
}

.small-article3{
    grid-area: small-article3;
    background-color: rgb(245, 239, 239);
    padding: 20px;
}